<template>
  <el-form
    ref="ruleFormRef"
    :model="ruleForm"
    :rules="rules"
    label-width="120px"
    class="demo-ruleForm"
    :size="formSize"
    status-icon
  >
    <!-- 用户名 -->
    <el-form-item prop="principal">
      <el-input v-model="ruleForm.principal" class="input-el" />
    </el-form-item>
    <!-- 密码 -->
    <el-form-item prop="credentials">
      <el-input
        v-model="ruleForm.credentials"
        class="input-el"
        type="password"
      />
    </el-form-item>
    <!-- 验证码 -->
    <el-form-item class="input-captch" prop="imageCode">
      <!-- el-col共24列 -->
      <el-col :span="16"> <el-input v-model="ruleForm.imageCode" /></el-col>
      <el-col :span="8">
        <img :src="captchUrl" alt="" @click="changeImgCode" />
      </el-col>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm(ruleFormRef)"
        >登录</el-button
      >
      <el-button @click="resetForm(ruleFormRef)">注册</el-button>
    </el-form-item>
  </el-form>
</template>

<script lang="ts" setup>
import { login } from '../../api/login';
import { uuid } from 'vue-uuid';
import { reactive, ref } from 'vue';
import type { FormInstance, FormRules } from 'element-plus';
// uuid创建版本4（随机）UUID
const uuidId = uuid.v4();
const formSize = ref('default');
const ruleFormRef = ref<FormInstance>();
// 验证码路径,利用时间戳每次点击不一样
const captchUrl = ref(
  `/api/captcha.jpg?uuid=${uuidId}&t=${new Date().getTime()}`
);

// ruleForm里面的跟接口里面的相对应
const ruleForm = reactive({
  principal: '', // 用户名
  credentials: '', // 密码
  imageCode: '', // 验证码
  sessionUUID: uuidId, // uuid
});
// 正则校验
const rules = reactive<FormRules>({
  principal: [
    { required: true, message: '请输入用户名', trigger: 'blur' },
    { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' },
  ],
  credentials: [{ required: true, message: '请输入密码', trigger: 'blur' }],
  imageCode: [{ required: true, message: '请输入验证码', trigger: 'blur' }],
});

const submitForm = async (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  await formEl.validate(async (valid, fields) => {
    if (valid) {
      console.log('submit!', ruleForm);
      const res = await login(ruleForm);
      console.log(res.data, 'res');
      // 存本地token 跳页面
    } else {
      console.log('error submit!', fields);
    }
  });
};

const resetForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
};

// 改变验证码事件
const changeImgCode = () => {
  captchUrl.value = `/api/captcha.jpg?uuid=${uuidId}&t=${new Date().getTime()}`;
  // console.log(captchUrl,'数据变了，视图没变，说明是个单向数据，运用 ref');
};
</script>
<style scoped>
.input-el {
  width: 360px;
}
.input-captch {
  width: 360px;
}
</style>
